[submodule "dot-hugo"]
	path = themes/dot-hugo
	url = https://github.com/themefisher/dot-hugo-documentation-theme
[submodule "dot-hugo-documentation-theme"]
	path = themes/dot-hugo-documentation-theme
	url = https://github.com/themefisher/dot-hugo-documentation-theme